name: Pull request

on:
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Install template
      run: dotnet new --install ./

    - name: Create new solution
      run: dotnet new monstarlab-api -n "Monstarlab.PullRequest"

    - name: Clean
      run: dotnet clean Monstarlab.PullRequest/Monstarlab.PullRequest.API.sln --configuration Release && dotnet nuget locals all --clear

    - name: Install dependencies
      run: dotnet restore Monstarlab.PullRequest/Monstarlab.PullRequest.API.sln

    - name: Build
      run: dotnet build Monstarlab.PullRequest/Monstarlab.PullRequest.API.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test Monstarlab.PullRequest/Monstarlab.PullRequest.API.sln --configuration Release --no-restore